@*@model IEnumerable<PaintProductions.Data.Entities.OrderItem>



    <h1>Shop</h1>
    <p>Count: @Model.Count()</p>
    <div class="row">*@
@*@foreach (var p in Model.ToList())*@
    <!--{-->
@*<div class="col-md-3">*@
@* <div class="border bg-light rounded p-1  border-info modal-content">
    @*     <img src="~/img/@(p.Product.ArtId).jpg" class="img-fluid" alt="@p.Product.Artist" />
      @*   <h3>@p.Product.Category - @p.Product.Size</h3>
         <ul class="products-props">-->
             @*<li>Price: $@p.Price</li>*@
@*    <!--<li>Artist: @p.Product.Artist</li>
                <li>Title: @p.Product.Title </li>
                <li>Description: @p.Product.ArtDescription</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
    </div>-->
        }
    @*</div>*@
